@model IEnumerable<UGetADog.Models.Dog>

@{
    ViewBag.Title = "AdminIndex";
}

<h2>AdminIndex</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<div id="mainContent">
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DogID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Age)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Breed)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Trained)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Immune)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Castrated)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Size)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                image
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.DogID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Age)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Breed)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Trained)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Immune)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Castrated)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Gender)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Size)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    <img src="~/Images/@Html.DisplayFor(modelItem => item.File)" height=100 width=200 />
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.DogID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.DogID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.DogID }) |
                    @Html.ActionLink("Contact", "Contact", new { id = item.DogID })
                </td>
            </tr>

        }

    </table>

        <div id="PieChartSection">
            <h3>How many dogs are in each city </h3>
        </div>
        <div id="barChartSection">
            <h3>Average dogs ages per breed</h3>
        </div>

        <script src=@Url.Content("~/Scripts/Charts/d3.js")></script>
        <script src="~/Scripts/jquery-3.3.1.js"></script>
        <script src=@Url.Content("~/Scripts/Charts/PieChart.js")></script>
        <script src=@Url.Content("~/Scripts/Charts/BarChart.js")></script>
   

</div>
