@model UGetADog.Models.User
@Styles.Render("~/Style/login.css")

@{
    ViewBag.Title = "login";
}
<div id="mainContent">
    <div class="login-panel">
        <h2 class="title">Login</h2>
        @using (Html.BeginForm("login", "Users", FormMethod.Post))
        {
            <h4>Hello, please enter your credentials</h4>
            @Html.AntiForgeryToken() // this is for prevent CSRF attack
            @Html.ValidationSummary(true)
            if (@ViewBag.Message != null)
            {

                <div style="border:1px solid red">
                    @ViewBag.Message
                </div>
            }

            <div class="form-content">
                <div class="column">
                    <div class="td">@Html.LabelFor(a => a.Email)</div>
                    <div class="td">@Html.LabelFor(a => a.Password)</div>
                </div>
                <div class="column">
                    <div class="td">@Html.TextBoxFor(a => a.Email)</div>
                    <div class="td">@Html.PasswordFor(a => a.Password)</div>
                    <div class="td"><input type="submit" class="submit" value="Login" /></div>
                </div>
                <div class="column">
                    <div class="td"><div class="warning">@Html.ValidationMessageFor(a => a.Email)</div></div>
                    <div class="td"><div class="warning">@Html.ValidationMessageFor(a => a.Password)</div></div>
                </div>
            </div>
        }

        <p>
            @Html.ActionLink("Sign up", "Create")
        </p>
    </div>
</div>



