
@model IEnumerable<UGetADog.Models.FullGiver>

@{
    ViewBag.Title = "Giver";
}

<h2>Contact</h2>
<table class="table">
    <tr>
        <th>
            FirstName
        </th>
        <th>
            LasttName
        </th>
        <th>
            Email
        </th>
        <th>
            Age
        </th>
        <th>
            Gender
        </th>
        <th>
            Phone
        </th>
        <th>
            Address
        </th>
        <th>
            Raiting
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.user.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.user.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.user.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.user.Age)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.user.Gender)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.giver.Phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.giver.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.giver.Rating)
            </td>
            <td>
                @Html.ActionLink("Back to List", "Index")
            </td>
        </tr>
    }


</table>

<h2>Send a Message</h2>
@foreach (var item in Model)
{
    using (Html.BeginForm("Create", "Comments", new { id = item.giver.GiverID }, FormMethod.Post))
    {

            @Html.AntiForgeryToken()
        var comment = new UGetADog.Models.Comment();
<div id="comment_zone">
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <p>
        @Html.LabelFor(model => comment.Sendername, htmlAttributes: new { @class = "control-label col-md-3" })
        @Html.EditorFor(model => comment.Sendername, new { htmlAttributes = new { @class = "form-control col-md-9" } })
        @Html.ValidationMessageFor(model => comment.Sendername, "", new { @class = "text-danger" })
    </p>
  @{/*  <p>
        @Html.LabelFor(model => comment.DogName, htmlAttributes: new { @class = "control-label col-md-3" })
        @Html.EditorFor(model => comment.DogName, new { htmlAttributes = new { @class = "form-control col-md-9" } })
        @Html.ValidationMessageFor(model => comment.DogName, "", new { @class = "text-danger" })
    </p>
          */}
    <p>
        @Html.LabelFor(model => comment.Content, htmlAttributes: new { @class = "control-label col-md-3" })
        @Html.EditorFor(model => comment.Content, new { htmlAttributes = new { @class = "form-control col-md-9" } })
        @Html.ValidationMessageFor(model => comment.Content, "", new { @class = "text-danger" })
    </p>
    <p>
        <input type="submit" value="Send Message" class="btn btn-default" />
    </p>


</div>
    }

 }





